.user-section {
	display: flex;
	flex-wrap: wrap;
	background: #7a7171;
	border-radius: 20px;
	max-width: 700px;
	margin: 50px;
}

.users-heading {
	margin-top: 20px;
	background: #7a7171;
	border-radius: 20px;
	text-align: center;
	font-size: 40px;
}
