.content {
	display: flex;
	height: calc(100vh - 120px);
}

.left {
	flex: 1;
	margin: 10px;
}

.right {
	flex: 3;
	margin: 10px;
}

.articles-container {
	display: flex;
	flex-wrap: wrap;
	background: #7a7171;
	border-radius: 0px 0px 20px 20px;
	padding-top: 20px;
	justify-content: space-evenly;
}

.title {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	padding-top: 30px;
	background-color: #7a7171;
	border-radius: 20px 20px 0px 0px;
}
.search-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
	padding: 10px 20px;
	background-color: #7a7171;
	border-radius: 20px;
	gap: 20px;
}

.search-bar input {
	width: 100%;
	max-width: 900px;
	padding: 14px 16px;
	font-size: 16px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	transition: 0.2s ease;
}
