section {
	width: 100%;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: #222;

	margin: 25px 0;
	padding-bottom: 8px;
	border-bottom: 3px solid #444;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.search-bar {
	width: 100%;

	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.search-bar input {
	width: 100%;
	max-width: 900px;

	padding: 14px 16px;
	font-size: 16px;

	border: none;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);

	transition: 0.2s ease;
}

.search-bar input:focus {
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.18);
	outline: none;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 24px;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 40px;
}
