.article-page {
	max-width: 1100px;
	margin: 20px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 12px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.article-page h1 {
	text-align: center;
	font-size: 34px;
	font-weight: 800;
	color: #222;
	margin-top: 15px;
	margin-bottom: 10px;
}

.article-topic {
	display: inline-block;
	background: #eef2ff;
	padding: 6px 16px;
	border-radius: 20px;

	color: #3b44f6;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;

	margin: 0 auto 25px auto;
	text-align: center;
	text-align: center;

	display: block;
	width: fit-content;
}

.article-page img {
	width: 100%;
	border-radius: 12px;
	margin: 20px 0;
	object-fit: cover;
	max-height: 450px;
}

.article-page p {
	font-size: 18px;
	color: #333;
	line-height: 1.7;
	margin: 20px 0;
}

.article-page h4 {
	font-size: 18px;
	color: #444;
	margin-bottom: 15px;
	text-align: right;
	font-weight: 600;
}
