.article-card {
	width: 350px;
	padding: 20px;

	margin: 20px;
	background: #ffffff;
	border-radius: 12px;
}
.article-card:hover {
	transform: translateY(-4px);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.article-card-img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

.article-card-body {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.article-card-title {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: #1a1a1a;
	text-decoration: none;
	margin: 10px;
}

.article-card-title:hover {
	text-decoration: underline;
}

.article-card-topic {
	display: inline-block;
	font-size: 14px;
	text-transform: capitalize;
	background: #eef2ff;
	padding: 10px;
	border-radius: 20px;
}

.article-card-author {
	font-size: 14px;

	padding: 10px;
	color: black;
}

.article-card-stats {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: black;
	margin-top: 8px;
}

.article-date {
	font-size: 14px;
	padding: 20px 0px 10px 10px;
	color: black;
}
